modules/**/build/
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Lambda package zips written by the shared terraform-aws-lambda module
# (its archive_file output_path is relative to the working directory).
*.zip
**/__pycache__/
*.pyc
