stages:
  - dev
  - prd

variables:
  VERSION: '3.1.3'
  ENABLED_ENVIRONMENTS: dev prd
  GROUP: operations
  NONPROD_USERNAME: $npu
  NONPROD_PASSWORD: $npp
  PROD_USERNAME: $pru
  PROD_PASSWORD: $prp
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""

ecr_deploy_dev:
  image: docker:latest
  services:
    - name: docker:dind
      alias: docker
  stage: dev
  variables:
    ecr_repository: acmeco-operations-dev-ccop-linux-image
    account_id: 111122223333

  script:
    - apk add python3
    - mkdir ~/.aws/
    - touch ~/.aws/credentials
    - rm /usr/lib/python*/EXTERNALLY-MANAGED && python3 -m ensurepip
    - pip3 install awscli > /dev/null
    - pip3 install -r scripts/requirements.txt
    - python3 scripts/start.py -e dev -g operations -u $npu -p $npp
    - export AWS_PROFILE=saml-acmeco-operations-dev
    - aws ecr describe-repositories --repository-names $ecr_repository || aws ecr create-repository --repository-name $ecr_repository
    - docker build -t $ecr_repository .
    - aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin $account_id.dkr.ecr.us-east-2.amazonaws.com
    - docker tag $ecr_repository:latest $account_id.dkr.ecr.us-east-2.amazonaws.com/$ecr_repository:latest
    - docker push $account_id.dkr.ecr.us-east-2.amazonaws.com/$ecr_repository:latest

  allow_failure: false
  tags:
    - docker

ecr_deploy_prd:
  image: docker:latest
  services:
    - name: docker:dind
      alias: docker
  stage: prd
  variables:
    ecr_repository: acmeco-operations-prd-ccop-linux-image
    account_id: 444455556666

  script:
    - apk add python3
    - mkdir ~/.aws/
    - touch ~/.aws/credentials
    - rm /usr/lib/python*/EXTERNALLY-MANAGED && python3 -m ensurepip
    - pip3 install awscli > /dev/null
    - pip3 install -r scripts/requirements.txt
    - python3 scripts/start.py -e prd -g operations -u $pru -p $prp
    - export AWS_PROFILE=saml-acmeco-operations-prd
    - aws ecr describe-repositories --repository-names $ecr_repository || aws ecr create-repository --repository-name $ecr_repository
    - docker build -t $ecr_repository .
    - aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin $account_id.dkr.ecr.us-east-2.amazonaws.com
    - docker tag $ecr_repository:latest $account_id.dkr.ecr.us-east-2.amazonaws.com/$ecr_repository:latest
    - docker push $account_id.dkr.ecr.us-east-2.amazonaws.com/$ecr_repository:latest

  tags:
    - docker
  allow_failure: false
